page-cutom-design-category-selector {
.gendar{
    width: 50%;
    margin: 5px;
    }
.column{
        text-align: center;
    }
}
.inputfields{
    width: 83%;
    height: 45px;
    position: relative;
    border: 1px solid;
    padding-left: 23%;
    border-radius: 5vw;
    margin-top: 10px;

  }
  .men-cat{
    background: #6666bb;
  }
  .women-cat{
    background: #dc7284;
  }
  .selected-cat{
      border: 2px solid greenyellow;
  }