page-product-details {

}

// ::-webkit-scrollbar,
// *::-webkit-scrollbar {
//   display: none;
// }
.slider{

    background: #1f2533;
    border-radius: 1vw;
    margin-left: 36px;
    padding: 5vw;
    width: 296px;
    
    .inner{
    .col{
    color: white;
    font-size: 15px;
    }
    }
    }
    