page-product-details {

    
.slider{

    background: #1f2533;
    border-radius: 1vw;
    margin-left: 36px;
    padding: 5vw;
    width: 296px;
    
    .inner{
    .col{
    color: white;
    font-size: 15px;
    }
    }
    }

    .addressArea{
        padding:5px;
        width: 100%;
        height: 70px;

    }

}

// ::-webkit-scrollbar,
// *::-webkit-scrollbar {
//   display: none;
// }
    
    