<ion-menu [content]="content"  type="push" side="left" class="my-sidemenu">
        <ion-header>
          <ion-toolbar>
            <ion-title>Menu</ion-title>
          </ion-toolbar>
        </ion-header>
      
        <ion-content>
          <ion-list>
            <button *ngIf="profileStore.currentUserData && profileStore.currentUserData.accountType=='buyer'" menuClose ion-item  (click)="openPage('home')" >
                Home
            </button>
            <!-- <button *ngIf="profileStore.currentUserData &&  profileStore.currentUserData.accountType=='buyer'" menuClose ion-item  (click)="openPage('customDesign')" >
              Custom Design
          </button> -->
          <button  menuClose ion-item  (click)="openPage('customDesign')" >
            Custom Design
        </button>
        <button  menuClose ion-item  (click)="openPage('buyer-orders')" >
            My Orders
        </button>
        <button  menuClose ion-item  (click)="openPage('add-product')" >
          Add Product
      </button>
          <button *ngIf="profileStore.currentUserData && profileStore.currentUserData.accountType=='admin'" menuClose ion-item  (click)="openPage('adminOrders')" >
            Orders
        </button>
        <button *ngIf="profileStore.currentUserData && profileStore.currentUserData.accountType=='admin'" menuClose ion-item  (click)="openPage('adminProducts')" >
          Products
        </button>
          <button  menuClose ion-item  (click)="openPage('logout')" >
            Logout
        </button>
          </ion-list>
        </ion-content>
      
      </ion-menu>
      
      <!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
      <!-- <ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>  -->
      
      
      <ion-nav [root]="rootPage" #content swipeBackEnabled="false" class="my-navbar"></ion-nav>
      
      
      
      
      <!-- <ion-menu [content]="content">
        <ion-header>
          <ion-toolbar>
            <ion-title>Recipes App</ion-title>
          </ion-toolbar>
        </ion-header>
        
        <ion-content>
          <ion-list>
            <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
              {{p.title}}
            </button>
          </ion-list>
        </ion-content>
      </ion-menu> -->