custom-fashion-category-selector {
    // .flex{
    //     display: inline-block;
    //     height: 100vh;
    //     background-color: lightgray;
    //     .selected-item{
    //         border:2px solid greenyellow;
    //     }
    //     .cat{
    //         width: 33%;
    //         height: auto;
    //     }
    // }
         .selected-item{
            border:2px solid greenyellow !important;
        }
    .chip-list{
        margin: 0 !important;
        // float: left;
    }
    .chip-size{
        width: 110px;
        background-color: rgba(164, 203, 210, 0.49)
    }
    .icon{
        width: 32px;
        height: 32px;
        // background: #2ce3e4;
        border-radius: 50%;
        padding: 3px;
        margin-right: 5px;
    }
    ion-label{
        align-items: center!important;
        display: flex!important;
        text-transform: uppercase;
    }
    .item-list{
        border-right:2px solid grey;
        color:#fff;
    }
    
}
