<!-- Generated template for the CustomDressCategorySelectorComponent component -->
<!-- <div class="flex"> -->
    <ion-list class="chip-list" *ngFor="let cat of dressDesignes"  (click)="onSelectCategory(cat)" [class.selected-item]="isSelectedItem(cat)">
        <ion-item text-wrap no-lines>
          <ion-chip class="chip-size" item-content color="black">
            <!-- <ion-icon name="heart" color="primary"></ion-icon> -->
            <img [class.selected-item]="isSelectedItem(cat)" class="icon" src="{{cat.menIcon}}">
            <ion-label>{{cat.key}}</ion-label>
          </ion-chip>
        </ion-item>
      </ion-list>
  <!-- <div *ngFor="let cat of dressDesignes" (click)="onSelectCategory(cat)" [class.selected-item]="isSelectedItem(cat)">
    <label>{{cat.key}}</label>
    <img  class="cat" src="/assets/imgs/avatar.png">
    
  </div>
</div> -->