<!--
  Generated template for the CustomDesignPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Custom Design</ion-title>
    <ion-buttons end>
        
      <button (click)="downloadImage()">
        
      <ion-icon style="font-size: 40px"  name="checkmark"></ion-icon>
    </button>
    
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding class="main">
  <!-- {{selectedProduct | json}} -->
    <ion-icon name="create" (click)="forgotpassword()"></ion-icon>
  <ion-grid class="grid" *ngIf="selectedProduct">
    <ion-row>
      <ion-col class="column" size="6" #frontScreen style="position:relative;">
        <ion-icon style="float: left;" *ngIf="selectedProduct" name="albums" (click)="selectAssets('front')">Front
        </ion-icon>
<!-- {{selectedProduct | json}} -->
        <div style="width:300px;" class="drag-boundary"
          [ngClass]="{ 'top-b': !edge?.top, 'bottom-b': !edge?.bottom, 'left-b': !edge?.left, 'right-b': !edge?.right }"
          #myBounds>
        <img  src ="{{matchImage('front')}}">
          <!-- <svg width="200px" height="200px" version="1.1" [attr.fill]="color" id="Layer_1"
            xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            viewBox="0 0 626 645" style="fill:color;" xml:space="preserve">
            <path class="test" [attr.d]="selectedProduct.menFront" />
          </svg> -->

        </div>
       <!-- front  {{dragableAssets | json}} -->
        <div *ngIf="dragableAssets && dragableAssets.length > 0"
          style="position:absolute;left: 50%;top:50%;transform: translate(-50%, -50%);">
          <div *ngFor="let asset of dragableAssets; let i = index;" style="display:grid; text-align: center;position: relative;" ngDraggable [bounds]="myBounds" [inBounds]="inBounds" (edge)="checkEdge($event)">
            
            <div style="display:grid; text-align: center;position: relative;" (mouseenter)="asset.isRotateIcon = true" (mouseleave)="asset.isRotateIcon = false" >
              <ion-icon name="refresh" *ngIf="asset.isRotateIcon" class="refresher" (click)="imageRotate(i,'front')" style="color:red;"></ion-icon>
            <img 
            [ngStyle]="{height:asset.width+'px',width:asset.width+'px'}"  [style.transform]="'rotate(' + (asset.rotate) + 'deg)'" class="icons"
            ion-long-press [interval]="400" (onPressing)="active(asset)"  
             src="{{asset.icon}}">
             </div>
          </div>
         
        </div>
        <!-- <custom-fashion-category-selector (selectedCategory)="onFashionCategorySelection($event)">
        </custom-fashion-category-selector> -->
      </ion-col>
      <ion-col class="column" size="6" #backScreen style="position:relative;">
        <ion-icon style="float: left;" *ngIf="selectedProduct" name="albums" (click)="selectAssets('back')">Back
        </ion-icon>

        <!-- {{selectedProduct | json}} -->
        <!-- <ion-icon name="color-palette"  [cpHeight]='auto'  [style.color]="color" [cpPosition]="'bottom'" [(colorPicker)]="color" ></ion-icon> -->
        <!-- <input  [value]="color" [style.background]="color" [cpPosition]="'bottom'" [(colorPicker)]="color" /> -->
        <!-- <img [attr.fill]="color"   src="/assets/imgs/t-shirt.svg">  -->
        <!-- <div  class="drag-boundary" #screen   [ngClass]="{ 'top-b': !edge?.top, 'bottom-b': !edge?.bottom, 'left-b': !edge?.left, 'right-b': !edge?.right }" #myBounds> -->
        <!-- {{svgs.json}} -->

        <div style="width:300px;" class="drag-boundary"
          [ngClass]="{ 'top-b': !backEdge?.top, 'bottom-b': !backEdge?.bottom, 'left-b': !backEdge?.left, 'right-b': !backEdge?.right }"
          #myBackBounds>
          <img style="width:'200px'; height:'200px'"  src ="{{matchImage('back')}}">

          <!-- <svg width="200px" height="200px" version="1.1" [attr.fill]="color" id="Layer_1"
            xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            viewBox="0 0 626 645" style="fill:color;" xml:space="preserve">
            <path class="test" [attr.d]="selectedProduct.menBack" />
          </svg> -->

        </div>
 <!-- back {{dragableBackAssets | json}} -->
        <div *ngIf="dragableBackAssets && dragableBackAssets.length > 0"
            style="position:absolute;left: 50%;top:50%;transform: translate(-50%, -50%);">
            <div  *ngFor="let a of dragableBackAssets; let i = index"    ngDraggable (backEdge)="checkBackEdge($event)"
            [bounds]="myBackBounds" [inBounds]="backInBounds" >
            <div style="display:grid; text-align: center;position: relative;" (mouseenter)="a.isRotateIcon = true" (mouseleave)="a.isRotateIcon = false" >
              <ion-icon name="refresh" *ngIf="a.isRotateIcon" class="refresher" (click)="imageRotate(i,'back')" style="color:red;"></ion-icon>
              <img 
              [ngStyle]="{height:a.width+'px',width:a.width+'px'}" [style.transform]="'rotate(' + (a.rotate) + 'deg)'" class="icons"
              ion-long-press [interval]="400" (onPressing)="active(a)"src="{{a.icon}}">
            </div>
              
            </div>
            
          </div>

        <!-- </div> -->


        <!-- <input type="color" value="#0000ff">
<img src="https://www.gstatic.com/webp/gallery3/1_webp_ll.png"> -->




        <!-- <img *ngIf="selectedProduct" src="{{selectedProduct.images[0].url}}" /> -->

        <!-- <button ion-button (click)="selectAssets()">asssets</button> -->
      </ion-col>

      <!-- <ion-col size="3">

        <custom-dress-category-selector (selectedCategory)="onDressCategorySelection($event)">
        </custom-dress-category-selector>
      </ion-col> -->
    </ion-row>
  </ion-grid>
  <ion-item *ngIf="selectedToResize">
    <ion-range min="30" max="100" [(ngModel)]="selectedToResize.width" snaps="true" color="secondary"
      (ionChange)="setBadge(selectedToResize.width)">
      {{size}}</ion-range>
  </ion-item>

  <div class="popup" *ngIf="showAssets">
    <custom-assets [allCustomAssets]="productStore.getCustomAssets" (onCancel)="closePopup()"
      (onAssetsSelection)="onCustomAssetSelection($event)"></custom-assets>

  </div>

  <div class="flex" *ngIf="selectedProduct">
    <!-- colors -->
    <div class="color-selection" (click)="selectColor(color)" [style.background]="color"
      *ngFor="let color of selectedProduct.colors"></div>
  </div>
  <div class="flex " *ngIf="selectedProduct">
    <div class="size" *ngFor="let size of selectedProduct.sizes">{{size}}</div>
  </div>


  <button ion-button (click)="downloadImage()">save</button>
  result
  <div style="display: flex">
    <img #frontCanvas style=" width:300px;
  height:300px;">
    <img #backCanvas style=" width:300px;
  height:300px;">
  </div>
  <a #downloadLink></a>
</ion-content>