.left-side{
    width:20%;
    height: 100%;
    background: red;
}
.mid{
    width:60%;
    height: 100%;

}
.right-side{
    width: 20%;
    height: 100%;
    background: yellow;
    float: right;
}
.icons{
    width: 20px;
    height: 20px;
}
.flex{
    display: flex;
}
.result{
    width: 100%;
    fill: attr(color);
}
.color-selection{
    width:30px;
    height: 30px;
}
.size{
    border: 1px solid gray;
    width: 30px;
    padding: 2px;
}
.popup{
    top: 0;
    // bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    background: rgba(146, 146, 146, 0.6);
    padding: 10%;
}
.dress-sketch{
    height: fit-content;
}
.assets-icon{
    position: absolute;
}