<!--
  Generated template for the CustomDesignPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>custom-design</ion-title>
    <ion-buttons end>
        <!-- <button > -->
        <ion-icon name="checkmark"></ion-icon>
      <!-- </button> -->
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding class="main">
  <ion-grid>
    <ion-row>
      <ion-col size="3">
        <custom-fashion-category-selector (selectedCategory)="onFashionCategorySelection($event)">
        </custom-fashion-category-selector>
      </ion-col>
      <ion-col size="6">

        <!-- {{selectedProduct | json}} -->
        <ion-icon name="color-palette" [cpHeight]='auto' [style.color]="color" [cpPosition]="'bottom'"
          [(colorPicker)]="color"></ion-icon> 
          &nbsp;
          <img class="icons" (click)="selectAssets()" src="/assets/icon/assets-icon.png">
        <!-- <input  [value]="color" [style.background]="color" [cpPosition]="'bottom'" [(colorPicker)]="color" /> -->
        <!-- <img [attr.fill]="color"   src="/assets/imgs/t-shirt.svg">  -->
        <div class="dress-sketch">
          <svg version="1.1" [attr.fill]="color" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 626 645"
            style="enable-background:color;" xml:space="preserve">
            <path d="M236.8,9.5c1,0,2,0,3,0c6.1,12.1,14.8,22,25.2,30.6c16.9,13.9,36.2,20.5,58,16.6c28.4-5,47.1-23.1,60.8-47.2c1,0,2,0,3,0
	c1.5,0.6,2.9,1.5,4.5,1.8c14.7,3.7,29.4,7.3,44.1,11.1c16.6,4.3,33.5,7.5,49.6,13.3C508.3,44,528,58,541.8,79.2
	c23.7,36.4,47.3,72.8,70.9,109.2c3.5,5.4,7.1,10.6,10.9,16.3c-30.3,18.5-60.1,36.6-90.3,55.1c-17.5-26-34.6-51.6-51.8-77.1
	c-0.4,0.1-0.9,0.2-1.3,0.3c0,2.4,0,4.9,0,7.3c0,146.4,0,292.9,0,439.3c0,2-0.3,4-0.4,5.9c-112,0-224,0-336,0
	c-0.1-2.3-0.4-4.6-0.4-6.9c0-146.5,0-292.9,0-439.4c0-2.1,0-4.2,0-6.3c-0.4-0.1-0.8-0.2-1.2-0.3c-17.2,25.6-34.4,51.2-51.9,77.2
	C60,241.2,30.1,223,0,204.7c1.9-3,3.5-5.5,5.1-8c24.9-38,50.1-75.7,74.5-114.1c15.8-24.9,38.1-40.9,65.6-49.1
	c27.1-8.1,54.8-13.9,82.3-20.8C230.7,11.8,233.7,10.6,236.8,9.5z" />
          </svg>
        </div>
        <img class="assets-icon" *ngFor="let asset of dragableAssets"
          [ngStyle]="selectedToResize==asset ? {height:size+'px',width:size+'px'}:''" class="icons" ion-long-press
          [interval]="400" (onPressing)="active(asset)" ngDraggable src="{{asset}}">
        <ion-item *ngIf="dragableAssets && dragableAssets.length>0">
          <ion-range min="30" max="100" [(ngModel)]="size" snaps="true" color="secondary" (ionChange)="setBadge(size)">
            {{size}}</ion-range>
        </ion-item>
        <!-- <div class="flex" *ngIf="selectedProduct">
          colors
          <div class="color-selection" [style.background]="color" *ngFor="let color of selectedProduct.colors"></div>
        </div>
        <img *ngIf="selectedProduct" src="{{selectedProduct.images[0].url}}" />
        <div class="flex " *ngIf="selectedProduct">
          <div class="size" *ngFor="let size of selectedProduct.sizes">{{size}}</div>
        </div> -->
        <ion-item>
          <ion-input type='text' placeholder="Extra Instructions...."></ion-input>
        </ion-item>
        <!-- <button ion-button>save</button> -->
        <!-- <button ion-button (click)="selectAssets()">asssets</button> -->
      </ion-col>

      <ion-col size="3">

        <custom-dress-category-selector (selectedCategory)="onDressCategorySelection($event)">
        </custom-dress-category-selector>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="popup" *ngIf="showAssets">
    <custom-assets [allCustomAssets]="customAssets" (onCancel)="closePopup()"
      (onAssetsSelection)="onCustomAssetSelection($event)"></custom-assets>

  </div>

</ion-content>